### VisualStudioCode ###
#.vscode/*
#*.code-workspace

# Project files
**/*.secret
#**/*.key
**/*.tgz
**/*.tar.gz
/external/database
/external/license
/external/webgateway



src/pocho/
!dist/Production.cls


# OS files
.DS_Store

